
#mission{
    height: 100vh;
    width: 100vw;
    display: flex;
    position:relative;  
}

#mission img{
    border-radius: 20px;
    border-top: 30px solid rgb(23,220,211);
    border-right: 30px solid rgb(23,220,211);
    height: 500px;
    width: 500px;
    margin: 150px 0 0 100px;
}

.mission-text-container{
    width: 50%;
    padding-left: 240px;
    font-family: 'Mulish';
    padding-top: 100px;
}

.mission-text-container h1{
    font-size: 100px;
   background-color:rgb(23,220,211);
   padding: 10px;
}

.mission-text-container p{
    font-size: 30px;
    text-align: start;
    padding: 20px 0 ;
}

@media only screen and (max-width: 48em) {
    #mission{
        
        display: flex;
        flex-direction: column;  
    }

    .mission-text-container{
        width: 100%;
        padding:80px;
       
    }

    .mission-text-container p{
        font-size: 20px;
        text-align:justify;
        padding: 30px 0px;
    }

    .mission-text-container h1{
       font-size: 40px;
       background-color:rgb(23,220,211);
       padding: 10px;
       width: 200px;
    }

    #mission img{
        border-radius: 20px;
        border-top: 10px solid rgb(23,220,211);
        border-right: 10px solid rgb(23,220,211);
        height: 300px;
        width: 300px;
        position: absolute;
        top:350px;
        right: 40px;
        /* display: none; */
        /* margin: 150px 0 0 100px; */
    }
  }

  @media only screen and (max-width: 40em) {
    
    #mission{
        display: flex;
        flex-direction: column;
    }
    
    .mission-text-container{
        width: 100%;
        padding:40px;
       
    }
  }

  @media only screen and (min-width: 768px) {
    
   
    
    .mission-text-container h1 {
        font-size: 79px;
        background-color: rgb(23,220,211);
        padding: 10px;
    }

    .mission-text-container {
        padding-left: 100px;
    }

    .mission-text-container p {
        font-size: 30px;
    }

    .mission-text-container h1 {
        width: 350px;
    }

    #mission img {
       position: relative;
       right: 50px;
       bottom: 50px;
    }
    
  }
/* 
  @media only screen and (max-width:1024px) {

    .mission-text-container {
        padding-left:200px;   
    }
    

  } */