
section#home {
    width: 100vw;
    height: 45vw;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  @media only screen and (max-width: 48em) {
    section#home {
      height: 70vw;
      display: block;
    }
  }
  
  @media only screen and (max-width: 420px) {
    section#home {
      height: auto;
      padding-bottom: 2rem;
    }
  }
  

  div.blobs {
    width: 100%;
    position: absolute;
    right: 0;
  }
  
  @media only screen and (max-width: 48em) {
    div.blobs {
      opacity: 0.5;
    }
  }
  

  div#home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
  }
  
  @media only screen and (max-width: 48em) {
    div#home {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
    }
  }
  

  img.mobile-svg {
    max-width: 100%;
    width: calc(30% + 20vw);
    height: auto;
    z-index: 7;
    position: relative;
    bottom: 100px;
    animation: move 2.5s ease infinite;
  }
  
  @media only screen and (max-width: 48em) {
    img.mobile-svg {
      align-self: flex-start;
      position: absolute;
      bottom: 0;
      width: calc(30% + 20vw);
      opacity: 0.5;
    }
  }
  
  @media only screen and (max-width: 40em) {
    img.mobile-svg {
      display: none;
    }
  }
  

  div.lb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    line-height: 1.5;
    color: var(--white);
    position: relative;
    z-index: 15;
  }
  
  @media only screen and (max-width: 48em) {
    div.lb {
      width: 80%;
      text-align: center;
      align-items: center;
      justify-content: space-around;
      margin-top: calc(2.5rem + 2.5vw);
      filter: drop-shadow(2px 4px 6px black);
    }
  }
  
  @media only screen and (max-width: 40em) {
    div.lb {
      filter: none;
    }
  }
  
  
  span.topic {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: calc(0.4rem + 0.4vw);
    padding: 0.5rem 1rem;
    border-radius: 20px;
  }
  
 
  span.circle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(21, 221, 211);
    margin-right: 0.5rem;
  }
  
  /* Title */
  h1.title {
    font-size: calc(2rem + 1vw);
    line-height: 1.2;
    padding: 0.5rem 0;
    color: black;
  }
  
  /* SubText */
  h5.sub-text {
    font-size: calc(0.5rem + 0.5vw);
    color: black;
  }
  
  /* CTA */
  button.cta {
    background-color: rgb(21, 221, 211);
    /* color: #0a0b10; */
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
  }
  
  button.cta img {
    width: 1.5rem;
  }
  
  @media only screen and (max-width: 48em) {
    button.cta {
      padding: 0.2rem 1rem;
    }
  }
  
  button.cta:hover {
    transform: scale(1.1);
  }
  
  button.cta:active {
    transform: scale(0.9);
  }
  