*{
   font-style: normal;
}

section#home {
    width: 100vw;
    height: 45vw;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;   
  }
  
  @media only screen and (max-width: 48em) {
    section#home {
      height: 70vw;
      display: block;
    }
  }
  
  @media only screen and (max-width: 420px) {
    section#home {
      height: 100vh;
      width: 80%;
      padding-bottom: 2rem;
    }
  }
  

  
  
  @media only screen and (max-width: 48em) {
    div.blobs {
      opacity:1;
    }
  }
  

  div#home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    position: relative;
    top: 100px;
  }
  
  @media only screen and (max-width: 48em) {
    div#home {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
    }
  }
  
  .left-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:80%;
    text-align: justify;
  }

  @media only screen and (max-width: 48em) {
    .left-block{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width:80%;
      text-align: justify;
    }
  }

  img.mobile-svg {
    max-width: 100%;
    width: calc(30% + 20vw);
    height: auto;
    z-index: 7;
    position: relative;
    bottom: 100px;
  }
  
  @media only screen and (max-width: 48em) {
    img.mobile-svg {
      align-self: flex-start;
      width: 100%;
      bottom: 0;
      width: calc(30% + 20vw);
      opacity: 0.5;
    }
  }
  
  @media only screen and (max-width: 40em) {
    img.mobile-svg {
      width: 100%;
    }
  }
  

  div.lb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    line-height: 1.5;
    color: var(--white);
    position: relative;
    z-index: 15;
  }
  
  @media only screen and (max-width: 48em) {
    div.lb {
      width: 80%;
      text-align: center;
      align-items: center;
      justify-content: space-around;
      margin-top: calc(2.5rem + 2.5vw);
      filter: drop-shadow(2px 4px 6px black);
    }
  }
  
  @media only screen and (max-width: 40em) {
    div.lb {
      filter: none;
    }
  }
  

  .button-hover:hover {
    color: white;
}
  
 

  h1.title {
    font-size: 50px;
    line-height: 1.2;
    padding: 0.5rem 0;
    font-family: ' Josefin Sans';
    text-align:left;
  }

  @media only screen and (max-width: 48em) {
    .about-text .text{
      font-size:large;
      width: 110%;
    }
  }

  .left-block .title,
.left-block .sub-text {
    font-family: 'Mulish';
    
}

.left-block .title{
  text-align: left;
}
  
  @media only screen and (max-width:768px) {
    div.lb {
      font-size: large;
    }
  }


  h5.sub-text {
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 100;
    font-family:'Mulish';
    color: #282936;
  }

  @media only screen and (max-width:768px) {
    h5.sub-text {
      font-size:large;
      font-weight: 100;
      width: 100%;
    }
  
  }
  
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
    padding-top: 20px;
   
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   
   }

   button.learn-more:hover{
    border-radius: 1.625rem;
    background-color: #fff;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 18;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
    /* border-radius: 20px; */
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
  