
section#about {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 
  div.main {
    margin: 0 15rem;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  @media only screen and (max-width: 64em) {
    div.main {
      margin: 0 calc(5rem + 5vw);
      margin-top: 10rem;
    }
  }
  
  @media only screen and (max-width: 40em) {
    div.main {
      align-items: center;
      margin: 3rem calc(3rem + 3vw);
      position: relative;
      top: 80px;
    }
  }
  

  h1.title {
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
  }

  .about-text .text {
    font-family: "Mulish"; 
    font-size: large;
}

@media only screen and (max-width: 48em)
{
.about-text .text {
    font-size: large;
    width: 100%;
}
}

  div.curved-line {
    width: 7rem;
    height: 2rem;
    border: solid 5px rgb(21, 221, 211);
    border-color: rgb(21, 221, 211) transparent transparent transparent;
    border-radius: 150%/60px 70px 0 0;
  }
  
  /* Content */
  div.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media only screen and (max-width: 40em) {
    div.content {
      flex-direction: column;
    }
  }
  

  div.rocket {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40%;
    padding-bottom: 5rem;
    animation: move 2.5s ease infinite;
  }
  
  @media only screen and (max-width: 40em) {
    div.rocket {
      width: 50vw;
      padding-bottom: 0;
    }
  }
  
 
  h4.text {
    font-size: calc(0.5rem + 0.5vw);
    line-height: 1.5;
    color: var(--nav2);
    text-align: justify;
  }

  .circle-container{
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  
  span.circle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.5rem;
    margin-top: 1rem;
    
  }
  
  
  div.about-text {
    width: 50%;
    position: relative;
    font-weight: 100;
  }

  div.about-text h4{
   
    font-weight: 100;
  }
  
  @media only screen and (max-width: 40em) {
    div.about-text {
      width: 100%;
    }
  }
  