*{
  font-family: 'Mulish';
}

section#about {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 
  div.main {
    margin: 0 15rem;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Mulish"; 
    font-size: large;
  }

  
  @media only screen and (max-width: 64em) {
    div.main {
      margin: 0 calc(1rem + 5vw);
      margin-top: 10rem;
      font-family: "Mulish"; 
      font-size: 40px;
    }
  }

  
  @media only screen and (max-width: 40em) {
    div.main {
      align-items: center;
      margin: 3rem calc(0rem + 3vw);
      position: relative;
      top: 80px;
      font-family: "Mulish"; 
      /* font-size: large; */
    }
  }
  
  .title {
    font-size: 3.5rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
    
  }

 

  .title1 {
    font-size: 2.5rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 10px solid rgb(23,220,211);
    border-width: 2px;
    width: 180px;
    position: relative;
    left: 400px;
    font-family: Mulish;
  }

  @media only screen and (max-width: 40em) {
    
    .title1 {
  
  position:relative;
  left:0;       
    }
  
}


 .text {
    font-family: "Mulish"; 
    /* font-size: large; */
    font-weight: 300;
    font-size:30px;
}


@media only screen and (max-width: 48em)
{
   .text {
    font-size: large;
    width: 80%;
}
}


  div.curved-line {
    width: 7rem;
    height: 2rem;
    border: solid 5px rgb(21, 221, 211);
    border-color: rgb(21, 221, 211) transparent transparent transparent;
    border-radius: 150%/60px 70px 0 0;
  }
  

  div.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  @media only screen and (max-width: 40em) {
    div.content {
      flex-direction: column;
    }
  }
  

  /* div.rocket {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40%;
    padding-bottom: 5rem;
    animation: move 2.5s ease infinite;
  } */
  

  /* @media only screen and (max-width: 40em) {
    div.rocket {
      width: 50vw;
      padding-bottom: 0;
    }
  }
   */
 
  h4.text {
    /* font-size: calc(0 + 0.3vw); */
    font-size: 20px;
    line-height: 1.5;
    color: var(--nav2);
    text-align: justify;
  }


  .circle-container{
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  
  span.circle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.5rem;
    margin-top: 1rem;   
  }
  
  
  div.about-text {
    width: 50%;
    position: relative;
    font-weight: 100;
  }

  div.about-text h4{
   
    font-weight: 100;
  }
  
  @media only screen and (max-width: 40em) {
    div.about-text {
      width: 100%;
    }
  }
  