/* header.css */

/* Header Container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: white;
  color: var(--white);
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 500;

  @media only Screen and (max-width: 587px) {
    /* display:none; */
    padding: 1rem 2rem;
  }
}

/* Logo Styles */
.logo {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 30px;
  cursor: pointer;
  font-family: 'Freehand';

  @media only Screen and (max-width: 587px) {
    width: 3rem;
    height: 3rem;
  }

}

.logo img {
  margin-right: 0.5rem;
}

.logo h3 {
  font-family: 'Freehand';
}

/* Navigation Styles */
.nav {
  width: 30rem;
  max-width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only Screen and (max-width: 877px) {
    display: none;
  }
}

.nav a {
  font-weight: 600;
  line-height: 1.5;
  color: var(--white);
  padding: 6px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.nav a:hover {
  background-color: black;
  color: white;
  padding: 6px;
}

/* Button Styles */
.button {
  background-color: var(--purple);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  transform: scale(1.1);
}

.button:focus {
  transform: scale(0.9);
}

/* Hamburger Button Styles */
.hamburger-btn {
  display: none;
  @media only Screen and (max-width: 48em) {
    display: inline-block;
  }
  position: relative;
  background-color: black;
  width: 2rem;
  height: 2px;
  margin-top: 0rem;
  transition: all 0.3s;
  cursor: pointer;
}

.hamburger-btn::before,
.hamburger-btn::after {
  content: "";
  background-color: var(--white);
  width: 2rem;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.hamburger-btn::before {
  top: 0;
  transform: rotate(0);
}

.hamburger-btn::after {
  top: 0;
  transform: rotate(0);
}

.hamburger-btn.clicked::before {
  top: 0;
  transform: rotate(135deg);
}

.hamburger-btn.clicked::after {
  top: 0;
  transform: rotate(-135deg);
}


.mobileMenu{
  display: none ;

  @media only Screen and (max-width: 877px) {
    /* display: block; */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
    position: absolute;
    top: 100px;
    right: 0rem;
    background-color: white;
    width: 100vw;

  }
}

.mobileMenu a{
  color: black;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.2s;
}

.mobileMenu a:hover {
  background-color: black;
  color: white;
  padding: 6px;
}




.hamburgerMenu{
  display: none;
  @media only Screen and (max-width: 877px) {
    display: inline-block;
  }
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.3s;
  cursor: pointer;
}


.hamburgerBtn{
 position: absolute;
 top: 0;
}

.hamburgerClose{
  display: none;
 position: absolute;
 top: 0;
}