/* header.css */

/* Header Container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: white;
  color: var(--white);
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 500;
}

/* Logo Styles */
.logo {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 30px;
  cursor: pointer;
  font-family: 'Freehand';
}

.logo img {
  margin-right: 0.5rem;
}

.logo h3 {
  font-family: 'Freehand';
}

/* Navigation Styles */
.nav {
  width: 30rem;
  max-width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  font-weight: 600;
  line-height: 1.5;
  color: var(--white);
  padding: 6px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.nav a:hover {
  background-color: black;
  color: white;
  padding: 6px;
}

/* Button Styles */
.button {
  background-color: var(--purple);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  transform: scale(1.1);
}

.button:focus {
  transform: scale(0.9);
}

/* Hamburger Button Styles */
.hamburger-btn {
  display: none;
  @media only Screen and (max-width: 48em) {
    display: inline-block;
  }
  position: relative;
  background-color: black;
  width: 2rem;
  height: 2px;
  margin-top: 0rem;
  transition: all 0.3s;
  cursor: pointer;
}

.hamburger-btn::before,
.hamburger-btn::after {
  content: "";
  background-color: var(--white);
  width: 2rem;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.hamburger-btn::before {
  top: 0;
  transform: rotate(0);
}

.hamburger-btn::after {
  top: 0;
  transform: rotate(0);
}

.hamburger-btn.clicked::before {
  top: 0;
  transform: rotate(135deg);
}

.hamburger-btn.clicked::after {
  top: 0;
  transform: rotate(-135deg);
}

/* Mobile Menu Styles */
.mobile-menu {
  display: none;
  @media only Screen and (max-width: 48em) {
    display: flex;
  }
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: -10;
  background-color: rgba(53, 53, 63, 0.95);
  border-radius: 20px;
  margin: 0.5rem;
}

.mobile-menu a {
  color: var(--white);
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1.5rem;
  cursor: pointer;
}
